.popup__save_inactive {
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 2px;
    opacity: 0.2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .popup__save_inactive:hover {
    opacity: 0.2;
    cursor: auto;
  }