.profile__button-add {
  margin: 0 0 0 auto;
  padding: 0;
  min-height: 50px;
  min-width: 150px;
  background-color: black;
  font-size: 22px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
}

.profile__button-add:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .profile__button-add  {
    margin: 36px auto 0;
    min-width: 100%;
  }
}

@media screen and (max-width: 580px) {
  .profile__button-add  {
    min-width: 282px;
  }
}


