.popup__save {
  margin: 48px auto 0;
  padding: 14px 0 18px;
  background: #000000;
  border: 2px solid black;
  width: 100%;
  max-height: 50px;
  font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  box-sizing: border-box;
  min-width: 358px;
  color: #FFFFFF;
}

.popup__save:hover {
  opacity: 0.6;
  cursor: pointer;
}


@media screen and (max-width: 768px) {
  .popup__save  {
    min-width: 238px;
    max-height: 46px;
    margin-top: 45px;
    padding-bottom: 14px;
    font-size: 14px;
    line-height: 17px;
  }
}
